
html{
    font-size: 62.5%;
}

a{
    color: $links;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: $font-body, sans-serif;
    background-color: $background;
}

.container{
    width: 80%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    color: $red;
    font-family: $font-headings, sans-serif;
}
//list of heading colors
// $heading-colors: $blue, $purple, $green, $red, $orange, $yellow;

//iterate through list variable heading-colors and assign colors to various headings.
// @for $item from 1 through length($heading-colors){
//     h#{$item} {         //the #represents the variable
//         color: nth($heading-colors, $item);
//     }
// }